text2emotion
emoji==1.6.3
speechrecognition
faster_whisper
llama-cpp-python # compile for GPU inference
numpy==1.26.4
pyaudio
scikit-learn==1.5.0
transformers
torch
soundfile
TKinterModernThemes
matplotlib==3.9.1
